
//hompage color
$bg-image-btn-color:#d3e0ea;
$bg-image-color1:#faf3e0;
$bg-image-color2:#f9f871;
$bg-text-shadow-color:red;

//navMenucolor
$bg-nav-menu-color:#00303f;

//algorithm page..
$border-img-color:#f30cb9;
$border-algorithm-card-color:#7b817b;

//java page
$text-sh-color:red;
$text-sh-color2:rgb(51, 29, 252);
$img-br-color:rgb(21, 21, 22);
